/*
font-family: 'Patrick Hand', cursive;
font-family: 'Roboto', sans-serif;
*/
p{
    color:red;
    font-family: 'Roboto', sans-serif;
}
h2{
    color: green;
    font-family: 'Patrick Hand', cursive;
}