.contenedor{
    background-color:grey ;
    width: 80%;
    margin: 0 auto;
}
.verde{
    background-color: lightgreen;
    width: 80%;
    height: 200px;
    margin:0  auto 20px;
    
    /*margin-bottom: 20px;*/
}
.celeste{
    background-color: lightblue;
    width: 80%;
    height: 200px;
    margin:0  auto 20px;
    /*margin-bottom: 20px;*/ 
}
.amarillo{
    background-color: lightgoldenrodyellow;
    width: 80%;
    height: 200px;
    margin:0  auto 20px;
     /*margin-bottom: 20px;*/
    }