body{
    background-color: #332F29;
    color: white;
}
.contenedor{
    max-width: 960px;
    margin: 0 auto;
}
header{
    background-color: #8fa68e;
    padding: 20px;/*solo para que sea mas alto*/
}
.holder{
  display: flex;  
}
nav{
    background-color: #c0392B;
    width: 30%;
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
color: white;
text-decoration: none;
}
main{
    width: 40%;
    background-color: #f7dc6f;
    padding: 20px;
}
aside{
    width: 30%;
    background-color: #1ABC9C;
    padding: 20px;
}
footer{
    background-color: #ccc59e;
    text-align: center;
}
footer p{
    margin: 0;
}
@media screen and (max-width:480px){
    header{
        text-align: center;
    }
    .holder{
    flex-wrap: wrap;
    }
    
    nav{
        width: 100%;
        border-bottom: 2px solid black;
    }
    nav ul{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
    }
    main{
        width: 100%;
        border-bottom: 2px solid black;
        padding: 20px;
    }
    aside{
        width: 100%;
    }
}
